# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyright
pyrightconfig.json

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env
venv/
junk/
maghettoni-docs/
hide/
node_modules/

flutter/*.class
flutter/*.log
flutter/*.pyc
flutter/*.swp
flutter/.DS_Store
flutter/.atom/
flutter/.build/
flutter/.buildlog/
flutter/.history
flutter/.svn/
flutter/.swiftpm/
flutter/migrate_working_dir/
flutter/*.iml
flutter/*.ipr
flutter/*.iws
flutter/.idea/
flutter/**/doc/api/
flutter/**/ios/Flutter/.last_build_id
flutter/.dart_tool/
flutter/.flutter-plugins-dependencies
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/coverage/
flutter/app.*.symbols
flutter/app.*.map.json
flutter/android/app/debug
flutter/android/app/profile
flutter/android/app/release
