flutter/*.class
flutter/*.log
flutter/*.pyc
flutter/*.swp
flutter/.DS_Store
flutter/.atom/
flutter/.build/
flutter/.buildlog/
flutter/.history
flutter/.svn/
flutter/.swiftpm/
flutter/migrate_working_dir/
flutter/*.iml
flutter/*.ipr
flutter/*.iws
flutter/.idea/
flutter/**/doc/api/
flutter/**/ios/Flutter/.last_build_id
flutter/.dart_tool/
flutter/.flutter-plugins-dependencies
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/coverage/
flutter/app.*.symbols
flutter/app.*.map.json
flutter/android/app/debug
flutter/android/app/profile
flutter/android/app/release
