name: Deploy Django via SSH

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.ssh_host }}
        username: ${{ secrets.ssh_user }}
        key: ${{ secrets.ssh_key }}         # Use SSH key, not password
        port: 21098       # Your server port (21098)
        script: |
          cd ~/maghettoni.com
          git fetch --all
          git reset --hard origin/main
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          python manage.py migrate --noinput
          python manage.py collectstatic --noinput
          touch passenger_wsgi.py
